openapi: 3.2.0
info:
  title: AutoContent Platform Asset Types API
  version: 1.0.0
  description: First-class content Assets with prepaid USD billing. Generic document and video routes do not exist.
servers:
- url: https://api.autocontentapi.com/v1
tags:
- name: Asset Types
paths:
  /asset-types:
    get:
      operationId: listAssetTypes
      summary: List first-class Asset contracts
      tags:
      - Asset Types
      security:
      - platformOAuth: []
      - platformApiKey: []
      x-required-scopes:
      - platform.read
      x-principal: oauth_or_api_key
      x-idempotency-required: false
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          type: string
          minLength: 1
          maxLength: 4096
      - name: limit
        in: query
        required: false
        schema:
          type: string
          pattern: ^(?:[1-9]|[1-9][0-9]|100)$
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                - catalog_version
                - data
                - next_cursor
                properties:
                  catalog_version:
                    type: string
                    minLength: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssetTypeDefinition'
                  next_cursor:
                    oneOf:
                    - type: string
                      minLength: 1
                    - type: 'null'
        default:
          $ref: '#/components/responses/AutoContentError'
components:
  responses:
    AutoContentError:
      description: Normalized AutoContent error; provider payloads are never returned.
      headers:
        Retry-After:
          description: Whole seconds before retry when the error supplies a bounded retry time.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            error:
              code: max_cost_exceeded
              message: Current price exceeds max_cost_usd.
              correlation_id: corr_42
              doc_url: https://docs.autocontentapi.com/errors/max-cost-exceeded
  schemas:
    AssetTypeDefinition:
      type: object
      additionalProperties: false
      required:
      - id
      - display_name
      - description
      - status
      - contract_version
      - options_schema
      - artifact_kinds
      - supports_model_pin
      - supports_voice
      - supports_avatar
      - typical_completion_seconds
      - pricing
      properties:
        id:
          $ref: '#/components/schemas/AssetType'
        display_name:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        status:
          type: string
          enum:
          - active
          - deprecated
        contract_version:
          type: integer
          minimum: 1
        options_schema:
          type: object
          additionalProperties: true
        artifact_kinds:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required:
            - kind
            - mime_type
            - primary
            properties:
              kind:
                type: string
              mime_type:
                type: string
              primary:
                type: boolean
        supports_model_pin:
          type: boolean
        supports_voice:
          type: boolean
        supports_avatar:
          type: boolean
        typical_completion_seconds:
          type: integer
          minimum: 1
        pricing:
          type: object
          additionalProperties: false
          required:
          - basis
          - exact_price_via_preview
          properties:
            basis:
              type: string
              minLength: 1
            exact_price_via_preview:
              const: true
    AssetType:
      type: string
      enum:
      - article
      - lead_magnet
      - ebook
      - slides
      - infographic
      - quiz
      - podcast_episode
      - short_video
      - explainer_video
      - launch_video
      - product_demo_video
      - ad_video
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
    ErrorBody:
      type: object
      additionalProperties: false
      required:
      - code
      - message
      - correlation_id
      - doc_url
      properties:
        code:
          type: string
          enum:
          - invalid_request
          - unknown_asset_type
          - invalid_asset_options
          - invalid_model_options
          - model_not_supported
          - model_retired
          - project_not_ready
          - project_limit_exceeded
          - provider_operation_limit_exceeded
          - source_not_ready
          - source_unreachable
          - source_paywalled
          - product_visual_required
          - no_qualified_trend
          - no_qualified_knowledge
          - input_resolution_failed
          - max_cost_exceeded
          - payment_required
          - content_loop_budget_exceeded
          - content_loop_limit_exceeded
          - idempotency_conflict
          - idempotency_in_progress
          - consent_required
          - voice_not_found
          - voice_not_ready
          - voice_not_supported
          - avatar_not_found
          - avatar_not_ready
          - avatar_not_supported
          - artifact_verification_failed
          - rate_limited
          - webhook_limit_exceeded
          - not_found
          - unauthorized
          - forbidden
          - internal_error
        message:
          type: string
        details:
          oneOf:
          - type: array
            items:
              $ref: '#/components/schemas/ErrorDetail'
          - type: object
        correlation_id:
          type: string
          pattern: ^corr_[A-Za-z0-9_-]+$
        doc_url:
          type: string
          format: uri
    ErrorDetail:
      type: object
      additionalProperties: false
      required:
      - reason
      properties:
        field:
          type: string
        reason:
          type: string
  securitySchemes:
    platformOAuth:
      type: http
      scheme: bearer
      bearerFormat: Platform OAuth JWT
    platformApiKey:
      type: http
      scheme: bearer
      bearerFormat: acp_ Platform API key
