{"openapi":"3.0.0","info":{"title":"Content API","version":"1.0.0","description":"API documentation for the Content API"},"servers":[{"url":"https://api.autocontentapi.com"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"ContentRequest":{"type":"object","required":["outputType"],"properties":{"resources":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["text","youtube","website","pdf","file"]},"content":{"type":"string","description":"For type \"file\", provide an https URL or a file id returned by POST /files. For other types, provide the text or URL expected by that type."}}},"description":"Resources for content generation (required if topic, feedSelections, or researches are not provided)"},"topic":{"type":"string","description":"Topic for content generation (alternative to resources, feedSelections, or researches)"},"feedSelections":{"type":"array","description":"Cached feed items to include in the request (alternative to resources, topic, or researches)","items":{"$ref":"#/components/schemas/FeedSelection"}},"researches":{"type":"array","items":{"type":"string"},"description":"Array of research IDs to include as text resources (max 10)"},"projects":{"type":"array","items":{"type":"string"},"description":"Array of project IDs to use as context for generation (max 10)"},"logoUrl":{"type":"string","format":"uri","description":"Optional HTTP or HTTPS PNG/JPG image URL for video, infographic, and slide_deck requests. Any source dimensions are accepted, but the image must be fully opaque and no larger than 5 MB; it is normalized to an opaque 200x50 PNG using the same rules as a project image. When supplied, it overrides the project logo for this request while project context and branding colors still apply. When omitted, the project logo and then the default logo are used."},"youtubeChannels":{"type":"array","items":{"type":"string"},"description":"YouTube channel IDs already connected to the account to use as sources"},"podcastEpisodeIds":{"type":"array","items":{"type":"string"},"description":"Completed audio request IDs to reuse as podcast episode sources (max 10)"},"text":{"type":"string","maxLength":5000,"description":"Instructions or query for content generation. For video, this is the NotebookLM steering prompt and is limited to 5,000 characters."},"outputType":{"type":"string","enum":["audio","text","faq","study_guide","timeline","briefing_doc","quiz","video","infographic","slide_deck","datatable"],"description":"Type of output content to generate"},"duration":{"type":"string","enum":["short","default","long"],"description":"Duration preference for audio and slide deck generation. Ignored for video requests."},"format":{"type":"string","enum":["explainer","short","cinematic","text","html","pdf"],"description":"For `video`, accepted values are `explainer`, `short`, and `cinematic` (defaults to `explainer`). `cinematic` video requests cost 100 credits. For `briefing_doc`, accepted values are `text`, `html`, and `pdf` (defaults to `pdf`). Ignored for other output types."},"style":{"type":"string","maxLength":5000,"description":"Style of the generated content. For audio/text, use one of: deep dive, brief, critique, debate. For video, NotebookLM preset names (auto-select, classic, whiteboard, kawaii, anime, watercolour, retro print, heritage, or paper-craft) are selected directly; any other value is used as custom style text and is limited to 5,000 characters. Video defaults to classic when omitted.\n"},"introMusicUrl":{"type":"string","description":"HTTPS URL to optional intro music (.mp3, .wav, or .m4a) mixed at lower volume at the start of the podcast"},"includeCitations":{"type":"boolean","description":"Whether to include citations (PRO only)"},"ignorePaywalledResources":{"type":"boolean","description":"When true, continue processing even if some URL resources fail to import (paywall/restrictions). The request fails only if none of the provided resources are successfully imported."},"infographicOrientation":{"type":"string","enum":["landscape","portrait","square"],"description":"Infographic orientation (defaults to landscape)"},"infographicDetail":{"type":"string","enum":["concise","standard","detailed"],"description":"Infographic detail level (defaults to standard)"},"slideDeckFormat":{"type":"string","enum":["detailed","presenter"],"description":"Slide deck format (defaults to detailed). Length is controlled via the standard duration field (short, default, long). Slide deck prompt uses the main text field."},"quizDifficulty":{"type":"string","enum":["easy","medium","hard"],"description":"Difficulty level for quiz outputs (defaults to medium). Quiz prompt uses the main text field."},"callbackData":{"type":"string","maxLength":500,"description":"Optional data to include in webhooks (maximum 500 characters)"},"relatedId":{"type":"string","description":"Existing request ID to relate this request to (must belong to the same token)"},"notebookId":{"type":"string","description":"Owned Private Notebook ID. When present, generation uses that notebook's saved sources and its license's exact dedicated account, follows Private Notebooks capacity instead of content credits, and rejects additional request sources or generic topic/project inputs."},"language":{"type":"string","description":"Target language for generated content, using an exact value from the supported languages list (for example, Deutsch). For video at the base format price, set language and omit voice1 and voice2. Voice IDs select narration voices but do not translate the generated script."},"scheduledOn":{"type":"string","format":"date-time","description":"Schedule the content generation for a specific time"},"podcastId":{"type":"string","description":"Podcast show ID to associate this content with"},"episodeTitle":{"type":"string","description":"Optional episode title when attaching to a podcast show"},"title":{"type":"string","description":"Custom title to use for generated video outputs. When provided, overrides the automatically generated title."},"titlePrompt":{"type":"string","description":"Prompt to guide the generated video title"},"descriptionPrompt":{"type":"string","description":"Prompt to guide the generated video description"},"thumbnailImagePrompt":{"type":"string","description":"Prompt to control the generated thumbnail image for video outputs"},"introImagePrompt":{"type":"string","description":"Prompt to control the intro image for video outputs"},"voice1":{"type":"integer","description":"Primary explicit narration voice ID from /content/GetVoices. Use the numeric ID, not the voice name. For video, supplying any catalogue or client-cloned voice ID adds 200 credits once per request to the format base price (50 credits for explainer/short or 100 for cinematic). Omit voice1 and voice2 for base pricing. Voice selection does not translate the generated script."},"voice2":{"type":"integer","description":"Optional secondary explicit narration voice ID from /content/GetVoices. Requires voice1. The 200-credit video voice surcharge is per request, not per supplied voice."},"publishTargets":{"type":"array","description":"Targets to publish generated videos to (e.g., YouTube)","items":{"$ref":"#/components/schemas/PublishTarget"}},"templateMode":{"type":"object","description":"Create a reusable template instead of processing immediately","properties":{"type":{"type":"string","enum":["feed"]},"name":{"type":"string","description":"Optional display name for the template"}}},"isScheduled":{"type":"boolean","description":"Create a recurring schedule instead of a single request"},"dailyCount":{"type":"integer","minimum":1,"maximum":24,"description":"Number of times per day to run when isScheduled is true"},"scheduleEndDate":{"type":"string","format":"date-time","description":"Optional end date for recurring schedules (requires isScheduled true)"}}},"RepurposeRequest":{"type":"object","required":["requestId","outputType"],"properties":{"requestId":{"type":"string","description":"Identifier of the completed request to repurpose"},"outputType":{"type":"string","enum":["audio","video","infographic","slide_deck","datatable","quiz"],"description":"Output type for the new request"},"language":{"type":"string","description":"Optional language override for the new request (defaults to the original request language)"},"text":{"type":"string","maxLength":5000,"description":"Optional text instructions that replace the original TEXT parameter. For video, this is the NotebookLM steering prompt and is limited to 5,000 characters."},"callbackData":{"type":"string","description":"Optional callback data to associate with the new request"},"duration":{"type":"string","enum":["short","default","long"],"description":"Duration preference for audio and slide deck repurpose requests. Ignored for video requests."},"infographicOrientation":{"type":"string","enum":["landscape","portrait","square"],"description":"Orientation when repurposing to an infographic"},"infographicDetail":{"type":"string","enum":["concise","standard","detailed"],"description":"Detail level when repurposing to an infographic"},"slideDeckFormat":{"type":"string","enum":["detailed","presenter"],"description":"Format when repurposing to a slide deck"},"quizDifficulty":{"type":"string","enum":["easy","medium","hard"],"description":"Difficulty level when repurposing to a quiz"},"title":{"type":"string","description":"Override video title when repurposing to video"},"titlePrompt":{"type":"string","description":"Prompt to guide the generated title when repurposing to video"},"descriptionPrompt":{"type":"string","description":"Prompt to guide the generated description when repurposing to video"},"format":{"type":"string","enum":["explainer","short","cinematic"],"description":"Video format (defaults to explainer). Only applies when outputType is video. `cinematic` costs 100 credits."},"style":{"type":"string","maxLength":5000,"description":"NotebookLM preset name or custom style text for video outputs, limited to 5,000 characters"},"thumbnailImagePrompt":{"type":"string","description":"Prompt to control the generated thumbnail image for video outputs"},"introImagePrompt":{"type":"string","description":"Prompt to control the generated intro image for video outputs"},"avatarId":{"type":"integer","description":"Optional avatar identifier for explainer video generation. If omitted, inherits from the source request when available."},"audioLanguage":{"type":"string","description":"Optional audio language override for explainer video generation metadata. If omitted, inherits from the source request when available."},"textLanguage":{"type":"string","description":"Optional text language override for explainer video generation metadata. If omitted, inherits from the source request when available."},"backgroundImageUrl":{"type":"string","description":"Optional background image URL for explainer video generation metadata. If omitted, inherits from the source request when available."},"voiceId":{"type":"integer","description":"Optional voice id from /content/GetVoices for explainer video metadata. Use the numeric id value, not the voice name. If omitted, inherits from the source request when available."}}},"PublishTarget":{"type":"object","properties":{"channel":{"type":"string","description":"Target channel for publishing (e.g., youtube)"},"youtubeAccountId":{"type":"string","nullable":true,"description":"Connected YouTube account ID to publish to"},"youtubePlaylistId":{"type":"string","nullable":true,"description":"Optional playlist ID to publish into"}}},"FeedSelection":{"type":"object","required":["feedId","feedItemIds"],"properties":{"feedId":{"type":"integer","description":"Identifier of the feed containing the cached items"},"feedItemIds":{"type":"array","items":{"type":"string"},"description":"Identifiers of cached posts or videos to include from that feed"}}},"RecurringSchedule":{"type":"object","properties":{"id":{"type":"string"},"prompt":{"type":"string"},"outputType":{"type":"string"},"format":{"type":"string","nullable":true,"description":"Video format for recurring video schedules (`explainer`, `short`, or `cinematic`). `cinematic` costs 100 credits."},"language":{"type":"string"},"duration":{"type":"string","description":"Duration preference for audio and slide deck schedules. Video schedules do not use duration."},"style":{"type":"string"},"dailyCount":{"type":"integer"},"scheduleEndDate":{"type":"string","format":"date-time","nullable":true},"lastRunAt":{"type":"string","format":"date-time","nullable":true},"nextRunAt":{"type":"string","format":"date-time","nullable":true},"createdOn":{"type":"string","format":"date-time","nullable":true},"podcastId":{"type":"string","nullable":true},"episodeTitle":{"type":"string","nullable":true},"status":{"type":"string","enum":["active","paused","completed"]}}},"RecurringScheduleDetail":{"type":"object","allOf":[{"$ref":"#/components/schemas/RecurringSchedule"},{"type":"object","properties":{"resources":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"type":{"type":"string"},"content":{"type":"string"}}}}}}]},"WebsiteDiscoveryLink":{"type":"object","properties":{"url":{"type":"string"},"title":{"type":"string"}}},"Citation":{"type":"object","properties":{"text":{"type":"string","description":"Citation text"},"source":{"type":"string","description":"Source of the citation"},"page":{"type":"integer","description":"Page number for PDF sources"},"timeMs":{"type":"integer","description":"Timestamp in milliseconds for audio/video sources"}}},"Usage":{"type":"object","properties":{"allowed":{"type":"integer","description":"Total credits allowed"},"used":{"type":"integer","description":"Total credits used"},"allowedDailyPodcasts":{"type":"integer","description":"Daily podcast limit"},"usedDailyPodcasts":{"type":"integer","description":"Podcasts created today"}}},"QueueStats":{"type":"object","properties":{"success":{"type":"boolean"},"queued":{"type":"integer","description":"Requests waiting to be picked up for processing"},"processing":{"type":"integer","description":"Requests currently in progress"},"active":{"type":"integer","description":"queued + processing"}}},"QueueRequestSummary":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"integer"},"request_type_id":{"type":"integer"},"output_type":{"type":"string","nullable":true},"requested_on":{"type":"string","format":"date-time","nullable":true},"processing_on":{"type":"string","format":"date-time","nullable":true},"scheduled_on":{"type":"string","format":"date-time","nullable":true}}},"QueueRequestsResponse":{"type":"object","properties":{"success":{"type":"boolean"},"state":{"type":"string","enum":["queued","processing","active"]},"ids":{"type":"array","items":{"type":"string"}},"items":{"type":"array","items":{"$ref":"#/components/schemas/QueueRequestSummary"}},"count":{"type":"integer","description":"Number of items in this page"},"total_count":{"type":"integer"},"page":{"type":"integer"},"page_size":{"type":"integer"},"total_pages":{"type":"integer"}}},"Podcast":{"type":"object","properties":{"id":{"type":"string","description":"Podcast ID"},"requestTypeId":{"type":"integer","description":"Type of podcast request"},"audioTitle":{"type":"string","description":"Title of the podcast"},"audioUrl":{"type":"string","description":"URL to the audio file"},"responseText":{"type":"string","description":"Podcast transcript/text"},"requestedOn":{"type":"string","format":"date-time","description":"When the podcast was requested"},"succeededOn":{"type":"string","format":"date-time","description":"When the podcast was completed"},"errorOn":{"type":"string","format":"date-time","description":"When the podcast failed (if applicable)"},"processingOn":{"type":"string","format":"date-time","description":"When the podcast started processing (if applicable)"},"errorMessage":{"type":"string","description":"Error message if the podcast failed"},"status":{"type":"integer","description":"Current status of the podcast"},"shareUrl":{"type":"string","description":"Public sharing URL for the podcast"}}},"Transcript":{"type":"object","properties":{"id":{"type":"string","description":"Transcript ID"},"audioTitle":{"type":"string","description":"Title of the original audio"},"audioUrl":{"type":"string","description":"URL to the original audio file"},"responseText":{"type":"string","description":"The transcript text content"},"requestedOn":{"type":"string","format":"date-time","description":"When the transcript was requested"},"succeededOn":{"type":"string","format":"date-time","description":"When the transcript was completed"},"errorOn":{"type":"string","format":"date-time","description":"When the transcript failed (if applicable)"},"processingOn":{"type":"string","format":"date-time","description":"When the transcript started processing (if applicable)"},"errorMessage":{"type":"string","description":"Error message if the transcript failed"},"status":{"type":"integer","description":"Current status of the transcript"},"language":{"type":"string","description":"Language of the transcript"},"callbackData":{"type":"string","description":"Optional callback data provided during request"},"scheduledOn":{"type":"string","format":"date-time","description":"When the transcript was scheduled"}}},"DataTable":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the data table (matches request id)"},"url":{"type":"string","format":"uri","nullable":true,"description":"URL of the generated data table file (null while processing)"},"status":{"type":"integer","description":"Current progress percentage (100 when completed)"},"createdOn":{"type":"string","format":"date-time","description":"UTC timestamp when the data table was created (or requested if still in progress)"}}},"Document":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the document (matches request id)"},"type":{"type":"string","description":"Document type"},"format":{"type":"string","enum":["text","html","pdf"],"description":"Stored result format"},"title":{"type":"string","nullable":true,"description":"Optional document title"},"status":{"type":"integer","description":"Current progress percentage (100 when completed)"},"createdOn":{"type":"string","format":"date-time","description":"UTC timestamp when the document row was created"},"content":{"type":"string","nullable":true,"description":"Text or HTML content when format is `text` or `html`"},"url":{"type":"string","nullable":true,"description":"Direct PDF URL when format is `pdf`"}}},"Infographic":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the infographic (matches request id)"},"imageUrl":{"type":"string","format":"uri","nullable":true,"description":"URL of the generated infographic image (null while processing)"},"title":{"type":"string","nullable":true,"description":"Optional title for the infographic"},"status":{"type":"integer","description":"Current progress percentage (100 when completed)"},"createdOn":{"type":"string","format":"date-time","description":"UTC timestamp when the infographic was created (or requested if still in progress)"}}},"Quiz":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the quiz (matches request id)"},"quizJson":{"type":"string","nullable":true,"description":"Quiz JSON content (null while processing)"},"status":{"type":"integer","description":"Current progress percentage (100 when completed)"},"createdOn":{"type":"string","format":"date-time","description":"UTC timestamp when the quiz was created (or requested if still in progress)"}}},"SlideDeck":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the slide deck (matches request id)"},"url":{"type":"string","format":"uri","nullable":true,"description":"URL of the generated slide deck (null while processing)"},"title":{"type":"string","nullable":true,"description":"Optional title for the slide deck"},"status":{"type":"integer","description":"Current progress percentage (100 when completed)"},"createdOn":{"type":"string","format":"date-time","description":"UTC timestamp when the slide deck was created (or requested if still in progress)"}}},"Avatar":{"type":"object","properties":{"id":{"type":"string","description":"Avatar identifier"},"name":{"type":"string","description":"Avatar display name"},"gender":{"type":"string","enum":["M","F"],"description":"Avatar gender (M = Male, F = Female)"}}},"Short":{"type":"object","properties":{"id":{"type":"string","description":"Short video identifier"},"status":{"type":"integer","description":"Status code (0 = pending, 10-90 = processing, 100 = completed, -1 = failed)"},"requestedOn":{"type":"string","format":"date-time","description":"Request creation date"},"processingOn":{"type":"string","format":"date-time","description":"Processing start date"},"succeededOn":{"type":"string","format":"date-time","description":"Completion date"},"requestTypeId":{"type":"integer","description":"Request type ID (4 = Short)"},"callbackData":{"type":"string","description":"Custom callback data"},"audioUrl":{"type":"string","description":"URL to the audio used for the short"},"videoUrl":{"type":"string","description":"URL to the generated short video (when completed)"},"imageUrl":{"type":"string","description":"URL to the thumbnail image (when completed)"},"audioTitle":{"type":"string","description":"Title of the short video"},"responseText":{"type":"string","description":"Text content used in the short"},"errorOn":{"type":"string","format":"date-time","description":"Error occurrence date (if applicable)"},"errorMessage":{"type":"string","description":"Error message (if applicable)"}}},"TranscriptLine":{"type":"object","properties":{"text":{"type":"string","description":"Transcript line text"},"speaker":{"type":"string","description":"Speaker label"},"timestamp":{"type":"array","description":"Start/end time in seconds","items":{"type":"number"}}}},"ExplainerTranscript":{"type":"object","properties":{"videoId":{"type":"string","description":"Explainer video identifier (request ID)"},"createdOn":{"type":"string","format":"date-time","description":"Transcript creation timestamp"},"transcript":{"type":"array","items":{"$ref":"#/components/schemas/TranscriptLine"}}}},"Feed":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the feed","example":1},"name":{"type":"string","description":"Name of the feed","example":"Tech News Twitter Feed"},"token":{"type":"string","description":"Client token (null for public feeds)","example":"abc123-def456-ghi789"},"feedTypeId":{"type":"integer","description":"Type of feed (1 for X/Twitter, 2 for Reddit, 3 for YouTube channel, 4 for RSS, 5 for X News topic)","example":1},"internalId":{"type":"string","description":"Internal identifier for the feed source (username for X, subreddit for Reddit, channel source ID for YouTube)","example":"elonmusk"},"createdOn":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2023-01-01T12:00:00Z"}}},"FeedSubscription":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"Unique identifier for the subscription","example":"123e4567-e89b-12d3-a456-426614174000"},"feedId":{"type":"integer","description":"Identifier of the subscribed feed","example":42},"token":{"type":"string","description":"Token that owns the subscription"},"requestId":{"type":"string","description":"ClientRequest template identifier used for automation"},"createdOn":{"type":"string","format":"date-time","description":"When the subscription was created"},"removedOn":{"type":"string","format":"date-time","nullable":true,"description":"When the subscription was removed, if applicable"},"lastProcessedItemId":{"type":"string","nullable":true,"description":"Identifier of the last feed item processed for this subscription"},"lastProcessedOn":{"type":"string","format":"date-time","nullable":true,"description":"Timestamp of the last processed feed item"},"request":{"type":"object","nullable":true,"description":"Snapshot of the underlying template request"}}},"CreateFeedRequest":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of the feed","example":"Tech News Twitter Feed"},"feedTypeId":{"type":"integer","description":"Type of feed (1 for X/Twitter, 2 for Reddit, 3 for YouTube channel, 4 for RSS, 5 for X News topic)","example":1},"internalId":{"type":"string","description":"Internal identifier - Twitter username for X, subreddit name for Reddit (without r/ prefix), topic/search query for X News (feedTypeId=5), feed URL for RSS. For YouTube channels this is populated automatically.","example":"elonmusk"},"channel":{"type":"string","description":"(YouTube only) Channel handle, URL, or ID. Either `channel` or `url` may be provided.","example":"https://youtube.com/@AutoContentAPI"},"url":{"type":"string","description":"(YouTube only) Channel URL alternative field.","example":"https://youtube.com/@AutoContentAPI"}}},"DeleteFeedRequest":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"ID of the feed to delete","example":1}}},"CreatePodcastShowRequest":{"type":"object","required":["name","description","author","link","imageUrl","email"],"properties":{"name":{"type":"string","description":"Podcast show name (displayed on Spotify, Apple Music, etc.)","example":"AI-Generated Tech Talk"},"description":{"type":"string","description":"Show description for platform listings and RSS feed","example":"Weekly tech discussions generated by AI, covering the latest in technology and innovation."},"author":{"type":"string","description":"Host/author name displayed on podcast platforms","example":"AI Content Creator"},"link":{"type":"string","format":"uri","description":"Official website URL for the podcast show","example":"https://mywebsite.com/podcast"},"imageUrl":{"type":"string","format":"uri","description":"URL of the podcast show image/artwork","example":"https://mywebsite.com/podcast-artwork.jpg"},"email":{"type":"string","format":"email","description":"Owner email address for RSS feed and platform registration","example":"podcast@mywebsite.com"},"language":{"type":"string","description":"Primary language for generated podcast episodes (defaults to English)","example":"Italian"}}},"PodcastShow":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the podcast show"},"name":{"type":"string","description":"Name of the podcast show (displayed on Spotify, Apple Music, etc.)"},"description":{"type":"string","description":"Description of the podcast show (used in platform listings)"},"author":{"type":"string","description":"Author/host name (displayed on podcast platforms)"},"link":{"type":"string","description":"Website link for the podcast show"},"email":{"type":"string","format":"email","description":"Owner email address (used in RSS feed and platform settings)"},"token":{"type":"string","description":"Client token for authentication"},"createdOn":{"type":"string","format":"date-time","description":"Creation timestamp"},"updatedOn":{"type":"string","format":"date-time","description":"Last update timestamp"},"rssUrl":{"type":"string","description":"RSS feed URL for automated distribution to Spotify, Apple Music, and other podcast platforms","example":"https://autocontentapi.com/podcast/rss/abc123"}}},"PodcastEpisode":{"type":"object","properties":{"id":{"type":"integer","description":"Unique identifier for the episode"},"podcastId":{"type":"string","description":"ID of the podcast show this episode belongs to"},"requestId":{"type":"string","description":"ID of the client request that created the source audio content"},"title":{"type":"string","description":"Episode title (displayed on podcast platforms)"},"description":{"type":"string","description":"Episode description (displayed on podcast platforms)"},"audioTitle":{"type":"string","description":"Original title from the generated audio content"},"audioUrl":{"type":"string","description":"Direct URL to the episode audio file (MP3 format for platform compatibility)"},"requestedOn":{"type":"string","format":"date-time","description":"When the episode was requested/created"},"succeededOn":{"type":"string","format":"date-time","description":"When the episode processing completed successfully"},"scheduledOn":{"type":"string","format":"date-time","description":"When the episode is scheduled to be published (if scheduled)"},"fileSize":{"type":"integer","description":"Audio file size in bytes (required for RSS enclosure tag)"},"durationSeconds":{"type":"integer","description":"Episode duration in seconds (displayed on podcast platforms)"}}},"Project":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the project (GUID)","example":"123e4567-e89b-12d3-a456-426614174000"},"name":{"type":"string","description":"Name of the project","example":"AI Startup Launch"},"description":{"type":"string","description":"Detailed description of the project","example":"Building an AI-powered SaaS tool for content creators. Focus on automation, efficiency, and user experience."},"url":{"type":"string","description":"Optional URL associated with the project","example":"https://example.com"},"token":{"type":"string","description":"Client token (owner of the project)","example":"abc123-def456-ghi789"},"createdOn":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2024-01-01T12:00:00Z"},"updatedOn":{"type":"string","format":"date-time","description":"Last update timestamp","example":"2024-01-02T14:30:00Z"},"active":{"type":"boolean","description":"Whether the project is active","example":true},"imageUrl":{"type":"string","format":"uri","description":"Optional URL of the 200x50 brand image associated with the project"},"textColor":{"type":"string","nullable":true,"description":"Hex color (e.g.","example":"#111827"},"backgroundColor":{"type":"string","nullable":true,"description":"Hex color (e.g.","example":"#F9FAFB"},"brandColor":{"type":"string","nullable":true,"description":"Primary branding accent color applied to overlay shapes when branding is configured","example":"#4338CA"},"accentColor":{"type":"string","nullable":true,"description":"Secondary accent color applied to overlay highlights and subtitles when branding is configured","example":"#7C72EF"}}},"CreateProjectRequest":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of the project (max 200 characters)","example":"AI Startup Launch"},"description":{"type":"string","description":"Detailed description of the project. Either description or url must be provided.","example":"Building an AI-powered SaaS tool for content creators. Focus on automation, efficiency, and user experience."},"url":{"type":"string","description":"Optional URL to fetch website content for auto-generating description. If provided without a description, AI will generate one.","example":"https://example.com"},"imageData":{"type":"string","description":"Optional base64 encoded PNG/JPG representing the project's brand image. The source image must be fully opaque; images containing any fully or partially transparent pixels are rejected. Any dimensions are accepted and the API resizes the image to 200x50 before storing the hosted copy as `imageUrl`."},"imageUrl":{"type":"string","format":"uri","description":"Optional HTTP/HTTPS URL to an existing PNG or JPG brand image. The source image must be fully opaque; images containing any fully or partially transparent pixels are rejected. The API downloads the source, resizes it to 200x50, and hosts the optimized copy. Cannot be combined with `imageData`."},"textColor":{"type":"string","description":"Optional hex color (format","example":"#111827","pattern":"^#[0-9A-Fa-f]{6}$"},"backgroundColor":{"type":"string","description":"Optional hex color (format","example":"#F9FAFB","pattern":"^#[0-9A-Fa-f]{6}$"},"brandColor":{"type":"string","description":"Optional primary accent hex color (format","example":"#4338CA","pattern":"^#[0-9A-Fa-f]{6}$"},"accentColor":{"type":"string","description":"Optional secondary accent hex color (format","example":"#7C72EF","pattern":"^#[0-9A-Fa-f]{6}$"}}},"UpdateProjectRequest":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Updated name of the project (max 200 characters)","example":"AI SaaS Platform"},"description":{"type":"string","description":"Updated description of the project. Either description or url must be provided.","example":"Revolutionary AI-powered content creation platform with advanced automation features."},"url":{"type":"string","description":"Optional URL to fetch website content for auto-generating description. If provided without a description, AI will generate one.","example":"https://example.com"},"imageData":{"type":"string","nullable":true,"description":"Optional base64 encoded PNG/JPG. Provide `null` to remove the current brand image. The source image must be fully opaque; images containing any fully or partially transparent pixels are rejected. Any size is accepted and will be resized to 200x50 on upload."},"imageUrl":{"type":"string","nullable":true,"format":"uri","description":"Optional HTTP/HTTPS URL pointing to a PNG or JPG brand image. Provide `null` to remove the stored image. The source image must be fully opaque; images containing any fully or partially transparent pixels are rejected. The API stores a 200x50 version. Cannot be combined with `imageData`."},"textColor":{"type":"string","nullable":true,"description":"Optional hex color (format","example":"#111827","pattern":"^#[0-9A-Fa-f]{6}$"},"backgroundColor":{"type":"string","nullable":true,"description":"Optional hex color (format","example":"#F9FAFB","pattern":"^#[0-9A-Fa-f]{6}$"},"brandColor":{"type":"string","nullable":true,"description":"Optional primary accent hex color (format","example":"#4338CA","pattern":"^#[0-9A-Fa-f]{6}$"},"accentColor":{"type":"string","nullable":true,"description":"Optional secondary accent hex color (format","example":"#7C72EF","pattern":"^#[0-9A-Fa-f]{6}$"}}},"XPost":{"type":"object","properties":{"id":{"type":"string","description":"Unique ID of the post (use this for refinement)","example":"550e8400-e29b-41d4-a716-446655440000"},"requestId":{"type":"string","example":"660e8400-e29b-41d4-a716-446655440000"},"result":{"type":"string","description":"The generated content or metadata"},"type":{"type":"string","description":"The post type (e.g., tweet or thread item)","example":"tweet"},"order":{"type":"integer","description":"Order in the thread (starts at 0)","example":0},"createdOn":{"type":"string","format":"date-time","example":"2024-01-15T10:35:00Z"},"tweetImageUrl":{"type":"string","nullable":true,"description":"Main image for the tweet (from user upload or provided URL)","example":"https://cdn.example.com/user-image.jpg"},"dataTableImageUrl":{"type":"string","nullable":true,"description":"Optional URL to a generated data table image","example":"https://cdn.example.com/table.png"},"barChartImageUrl":{"type":"string","nullable":true,"description":"Optional URL to a generated bar chart image","example":"https://cdn.example.com/chart.png"},"sources":{"type":"array","description":"Provenance entries describing where the content came from","items":{"$ref":"#/components/schemas/XPostSource"}},"shareUrl":{"type":"string","description":"Share URL for the post (only in getPodcasts response)","example":"https://autocontentapi.com/share/podcast/550e8400-e29b-41d4-a716-446655440000/20240115"}}},"XPostSource":{"type":"object","properties":{"type":{"type":"string","description":"Classification of the source (e.g. feed, resource, deep-research)","example":"feed-item"},"sourceId":{"type":"string","nullable":true,"description":"Optional identifier for the source record","example":"c0a8015c-82ff-455b-b3d5-8bfab98809c2"},"reference":{"type":"string","nullable":true,"description":"User-friendly reference like a URL or handle","example":"https://twitter.com/autocontentapi/status/123"},"description":{"type":"string","nullable":true,"description":"Short summary of the source content","example":"Reddit: Launch post announcing v2"},"metadata":{"type":"object","nullable":true,"additionalProperties":true,"description":"Arbitrary metadata captured for the source"}}}},"responses":{"UnauthorizedError":{"description":"Access token is missing or invalid"},"NotFoundError":{"description":"The requested resource was not found"},"BadRequestError":{"description":"Bad request parameters"},"ServerError":{"description":"Internal server error"}}},"tags":[{"name":"Content","description":"Content operations and usage information"},{"name":"Dedicated Account","description":"Operations available only for enterprise dedicated accounts"},{"name":"Video","description":"Video generation and avatar operations"},{"name":"Share","description":"Public sharing operations without authentication"},{"name":"Podcast","description":"Podcast operations and RSS feeds"},{"name":"Projects","description":"Project context management for content generation"},{"name":"Feeds","description":"Social media feed management operations"},{"name":"Deep Research","description":"Advanced research operations"},{"name":"X","description":"X (Twitter) operations"},{"name":"Automations","description":"Automation management and history"},{"name":"Infographics","description":"Infographic assets generated per token"},{"name":"Data Tables","description":"Data table assets generated per token"},{"name":"Quizzes","description":"Quiz assets generated per token"},{"name":"Documents","description":"Briefing document assets generated per token"},{"name":"Files","description":"Upload and manage private files for resources"},{"name":"Slide Decks","description":"Slide deck assets generated per token"},{"name":"Billing","description":"Billing and invoices operations"}],"paths":{"/content/Usage":{"get":{"summary":"Get usage information","description":"Returns current usage statistics and remaining credits","tags":["Content"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Usage"}}}},"401":{"description":"Unauthorized"}}}},"/content/QueueStats":{"get":{"summary":"Get queued and processing request counts","description":"Returns lightweight queue counts for the authenticated client. Active means queued + processing.","tags":["Content"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStats"}}}},"401":{"description":"Unauthorized"}}}},"/content/QueueRequests":{"get":{"summary":"Get queued or processing request IDs","description":"Returns paginated request IDs and lightweight request metadata for the authenticated client.","tags":["Content"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"state","required":false,"schema":{"type":"string","enum":["queued","processing","active","all"],"default":"active"},"description":"Request state to fetch. `active` means queued + processing; `all` is accepted as an alias for active."},{"in":"query","name":"page","schema":{"type":"integer","minimum":1,"default":1},"required":false,"description":"Page number for pagination, starting at 1."},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"required":false,"description":"Number of items per page."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueRequestsResponse"}}}},"400":{"description":"Invalid state"},"401":{"description":"Unauthorized"}}}},"/content/Podcasts":{"get":{"summary":"Get all podcasts","description":"Returns all podcasts created by the current client, optionally filtered by status. Supports optional pagination.","tags":["Content"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"status","required":false,"schema":{"type":"string","enum":["all","queued","failed","succeeded","processed"],"default":"all"},"description":"Filter podcasts by status (all=all podcasts, queued=status=0 and no error, failed=has errorOn, succeeded=status=100, processed=has processingOn)"},{"in":"query","name":"page","schema":{"type":"integer","minimum":1},"required":false,"description":"Page number for pagination (starts at 1). If not provided, returns all results.","example":1},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100},"required":false,"description":"Number of items per page (max 100, default 50 if page is specified)","example":20}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"oneOf":[{"type":"array","description":"Non-paginated response (when page and limit are not provided)","items":{"$ref":"#/components/schemas/Podcast"}},{"type":"object","description":"Paginated response (when page or limit are provided)","properties":{"podcasts":{"type":"array","items":{"$ref":"#/components/schemas/Podcast"}},"totalCount":{"type":"integer","description":"Total number of podcasts","example":100},"page":{"type":"integer","description":"Current page number","example":1},"pageSize":{"type":"integer","description":"Number of items per page","example":20},"totalPages":{"type":"integer","description":"Total number of pages","example":5}}}]}}}},"400":{"description":"Invalid status parameter"},"401":{"description":"Unauthorized"}}}},"/content/Transcripts":{"get":{"summary":"Get all transcripts","description":"Returns all transcripts created by the current client, optionally filtered by status. Supports optional pagination.","tags":["Content"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"status","required":false,"schema":{"type":"string","enum":["all","queued","failed","succeeded","processed"],"default":"all"},"description":"Filter transcripts by status (all=all transcripts, queued=status=0 and no error, failed=has errorOn, succeeded=status=100, processed=has processingOn)"},{"in":"query","name":"page","schema":{"type":"integer","minimum":1},"required":false,"description":"Page number for pagination (starts at 1). If not provided, returns all results.","example":1},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100},"required":false,"description":"Number of items per page (max 100, default 50 if page is specified)","example":20}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"oneOf":[{"type":"array","description":"Non-paginated response (when page and limit are not provided)","items":{"$ref":"#/components/schemas/Transcript"}},{"type":"object","description":"Paginated response (when page or limit are provided)","properties":{"transcripts":{"type":"array","items":{"$ref":"#/components/schemas/Transcript"}},"totalCount":{"type":"integer","description":"Total number of transcripts","example":100},"page":{"type":"integer","description":"Current page number","example":1},"pageSize":{"type":"integer","description":"Number of items per page","example":20},"totalPages":{"type":"integer","description":"Total number of pages","example":5}}}]}}}},"400":{"description":"Invalid status parameter"},"401":{"description":"Unauthorized"}}}},"/content/Create":{"post":{"summary":"Create new content","description":"Generate new content based on resources, topic, feed selections, researches, YouTube channels, or linked podcast episodes. Use video metadata fields (titlePrompt, descriptionPrompt, thumbnailImagePrompt, introImagePrompt, voices, publishTargets, format) when outputType is video. Video formats are explainer and short at 50 credits, or cinematic at 100 credits. Supplying voice1 or voice2 adds one 200-credit explicit-voice surcharge to a video request, including when the ID is from the global GetVoices catalogue. Video requests ignore the generic duration field if it is provided. Set isScheduled or templateMode to create recurring templates instead of immediate processing.","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentRequest"}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"oneOf":[{"type":"object","description":"Standard immediate request","properties":{"request_id":{"type":"string","description":"Unique ID for tracking the request"},"status":{"type":"integer","description":"Initial status code (0)"}}},{"type":"object","description":"Response when creating a recurring schedule (isScheduled = true)","properties":{"schedule_id":{"type":"string"},"request_id":{"type":"string"},"status":{"type":"integer"},"message":{"type":"string"},"dailyCount":{"type":"integer"},"endDate":{"type":"string","format":"date-time","nullable":true}}},{"type":"object","description":"Response when creating a reusable template (templateMode)","properties":{"template_request_id":{"type":"string"},"request_id":{"type":"string"},"status":{"type":"integer"},"template":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string","nullable":true}}}}}]}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/Repurpose":{"post":{"summary":"Repurpose a completed request","description":"Creates a new request using the resources and parameters of a completed request, allowing a new output type and optional updated text.","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepurposeRequest"}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"request_id":{"type":"string","description":"Unique ID for tracking the new request"},"status":{"type":"integer","description":"Initial status code (0)"}}}}}},"400":{"description":"Invalid request or request not completed"},"401":{"description":"Unauthorized"},"404":{"description":"Original request not found"}}}},"/content/Status/{id}":{"get":{"summary":"Check request status","description":"Get the status of a content generation request. A non-null `error_on` or non-zero `error_code` is a terminal failure; the numeric `status` may remain at its last processing stage, including 0.","tags":["Content"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"Request ID"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"id":{"type":"string","description":"Request ID"},"audio_title":{"type":"string","description":"Title of the generated audio"},"status":{"type":"integer","description":"Status code (100 = completed)"},"audio_url":{"type":"string","description":"URL to the generated audio file"},"video_url":{"type":"string","description":"URL to the generated video file (if applicable)"},"image_url":{"type":"string","description":"URL to the generated image file (if applicable)"},"response_text":{"type":"string","description":"Generated text content"},"requested_on":{"type":"string","format":"date-time","description":"When the request was created"},"callback_data":{"type":"string","description":"User-provided callback data"},"updated_on":{"type":"string","format":"date-time","description":"When the request was last updated"},"request_type_id":{"type":"integer","description":"Type of request"},"error_code":{"type":"integer","description":"Error code (0 if no error)"},"citations":{"type":"array","items":{"$ref":"#/components/schemas/Citation"},"description":"Citations if requested"},"file_size":{"type":"integer","description":"Size of the generated file in bytes"},"audio_duration":{"type":"number","description":"Duration of the audio in seconds"},"share_url":{"type":"string","description":"Public sharing URL for the content"},"briefing_doc_url":{"type":"string","description":"Direct URL to the generated Briefing Doc PDF when output type is `briefing_doc`"},"document_format":{"type":"string","description":"Stored document format when output type is `briefing_doc`"},"document_content":{"type":"string","description":"Stored text or HTML content when output type is `briefing_doc`"},"document_url":{"type":"string","description":"Stored PDF URL when output type is `briefing_doc`"}}},{"type":"object","properties":{"id":{"type":"string","description":"Request ID"},"status":{"type":"integer","description":"Status code (0 = pending, other values indicate processing stages)"},"updated_on":{"type":"string","format":"date-time","description":"When the request was last updated"},"error_code":{"type":"integer","description":"Error code (0 if no error)"},"error_message":{"type":"string","description":"Error message if any"},"requested_on":{"type":"string","format":"date-time","description":"When the request was created"},"callback_data":{"type":"string","description":"User-provided callback data"}}}]}}}},"401":{"description":"Unauthorized"},"404":{"description":"Request not found"}}}},"/content/List":{"get":{"summary":"List content requests","description":"Get a list of content generation requests. Supports optional pagination.","tags":["Content"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1},"required":false,"description":"Page number for pagination (starts at 1). If not provided, returns all results.","example":1},{"in":"query","name":"limit","schema":{"type":"integer","minimum":1,"maximum":100},"required":false,"description":"Number of items per page (max 100, default 50 if page is specified)","example":20}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"oneOf":[{"type":"array","description":"Non-paginated response (when page and limit are not provided)","items":{"type":"object","properties":{"id":{"type":"string","description":"Request ID"},"requestTypeId":{"type":"integer","description":"Type of content request"},"status":{"type":"integer","description":"Current status code"},"requestedOn":{"type":"string","format":"date-time","description":"Request creation timestamp"},"audioTitle":{"type":"string","description":"Title of the generated audio (if available)"}}}},{"type":"object","description":"Paginated response (when page or limit are provided)","properties":{"requests":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Request ID"},"requestTypeId":{"type":"integer","description":"Type of content request"},"status":{"type":"integer","description":"Current status code"},"requestedOn":{"type":"string","format":"date-time","description":"Request creation timestamp"},"audioTitle":{"type":"string","description":"Title of the generated audio (if available)"}}}},"totalCount":{"type":"integer","description":"Total number of requests","example":100},"page":{"type":"integer","description":"Current page number","example":1},"pageSize":{"type":"integer","description":"Number of items per page","example":20},"totalPages":{"type":"integer","description":"Total number of pages","example":5}}}]}}}},"401":{"description":"Unauthorized"}}}},"/content/GetVoices":{"get":{"summary":"Get available voices","description":"List all available voices for audio generation","tags":["Content"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","description":"Numeric voice ID to pass as voice1, voice2, or voiceId in voice-enabled requests. For /content/Create video requests, any supplied voice1 or voice2 ID adds one 200-credit explicit-voice surcharge, whether this is a global catalogue voice or a client-cloned voice."},"name":{"type":"string","description":"Voice name"},"clientId":{"type":"string","description":"ID of the client that owns this voice (for custom voices)"}}}}}}},"401":{"description":"Unauthorized"}}}},"/content/Me":{"get":{"summary":"Get current client info","description":"Returns current client ID","tags":["Content"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"clientId":{"type":"string","description":"Current authenticated client ID"}}}}}},"401":{"description":"Unauthorized"}}}},"/content/Webhook":{"post":{"summary":"Register webhook","description":"Register an HTTPS webhook URL for terminal request notifications. Callbacks are sent for both successes and failures; failure callbacks include `error_code` and `error_message`.","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"Webhook URL to register"}}}}}},"responses":{"200":{"description":"Webhook registered","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Webhook ID"},"url":{"type":"string","description":"Registered webhook URL"}}}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/RemoveWebhook":{"post":{"summary":"Remove webhook","description":"Remove a registered webhook","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"ID of the webhook to remove"}}}}}},"responses":{"200":{"description":"Webhook removed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful"}}}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/Webhooks":{"get":{"summary":"Get webhooks","description":"List all registered webhooks","tags":["Content"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Webhook ID"},"url":{"type":"string","description":"Registered webhook URL"}}}}}}},"401":{"description":"Unauthorized"}}}},"/content/ModifyPodcast":{"post":{"summary":"Modify podcast","description":"Modify an existing podcast with new voices and background music","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["audioUrl","voice1","voice2"],"properties":{"audioUrl":{"type":"string","description":"URL to the audio file to modify"},"voice1":{"type":"integer","description":"Numeric id of first voice from /content/GetVoices"},"voice2":{"type":"integer","description":"Numeric id of second voice from /content/GetVoices"},"instructions":{"type":"string","description":"Additional instructions"},"backgroundMusicUrl":{"type":"string","description":"Optional URL to background music file"},"callbackData":{"type":"string","description":"Optional data for webhook callbacks"}}}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"request_id":{"type":"string","description":"Unique ID for tracking the request"},"status":{"type":"integer","description":"Initial status code (0)"}}}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/SeparateSpeakersAudio":{"post":{"summary":"Separate speakers in audio","description":"Separate speakers in an audio file","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["audioUrl"],"properties":{"audioUrl":{"type":"string","description":"URL to the audio file"},"callbackData":{"type":"string","description":"Optional data for webhook callbacks"}}}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"request_id":{"type":"string","description":"Unique ID for tracking the request"}}}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/CloneVoice":{"post":{"summary":"Clone voice","description":"Clone a voice from an audio file (PRO only). Accepts either a file upload or a URL.","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["name"],"properties":{"audioFile":{"type":"string","format":"binary","description":"MP3 audio file to upload (max 10MB). Cannot be used with audioUrl."},"name":{"type":"string","description":"Name for the cloned voice"}}}},"application/json":{"schema":{"type":"object","required":["audioUrl","name"],"properties":{"audioUrl":{"type":"string","description":"URL to the MP3 audio file for voice cloning. Cannot be used with audioFile upload."},"name":{"type":"string","description":"Name for the cloned voice"}}}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"request_id":{"type":"string","description":"Unique ID for tracking the request"},"status":{"type":"integer","description":"Initial status code (0)"}}}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/GetTranscript":{"post":{"summary":"Get transcript","description":"Generate transcript from an audio file or episode. Accepts file upload, URL, or episode ID (only one at a time).","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"audioFile":{"type":"string","format":"binary","description":"MP3 or WAV audio file to upload (max 50MB). Cannot be used with audioUrl or episodeId."},"callbackData":{"type":"string","description":"Optional data for webhook callbacks"}}}},"application/json":{"schema":{"type":"object","oneOf":[{"required":["audioUrl"]},{"required":["episodeId"]}],"properties":{"audioUrl":{"type":"string","description":"URL to the audio file (.mp3 or .wav format). Cannot be used with audioFile or episodeId."},"episodeId":{"type":"string","description":"ID of an existing episode to transcribe. Cannot be used with audioFile or audioUrl."},"callbackData":{"type":"string","description":"Optional data for webhook callbacks"}}}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"request_id":{"type":"string","description":"Unique ID for tracking the request"},"status":{"type":"integer","description":"Initial status code (0)"}}}}}},"400":{"description":"Invalid request (missing parameters, both parameters provided, or invalid audio format)"},"401":{"description":"Unauthorized"}}}},"/content/GetTranscript/{episodeId}":{"get":{"summary":"Get transcript by episode ID","description":"Retrieve an existing transcript for a specific episode","tags":["Content"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"episodeId","required":true,"schema":{"type":"string"},"description":"The ID of the episode to get the transcript for"}],"responses":{"200":{"description":"Transcript retrieved successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful"},"episodeId":{"type":"string","description":"The episode ID that was requested"},"requestId":{"type":"string","description":"The original request ID used to generate this transcript"},"transcript":{"type":"string","description":"The transcript content (JSON string format)"},"createdOn":{"type":"string","format":"date-time","description":"When the transcript was created"}}}}}},"400":{"description":"Invalid request (missing episode ID)"},"401":{"description":"Unauthorized"},"404":{"description":"Transcript not found for the specified episode ID"},"500":{"description":"Internal server error"}}}},"/content/CreatePodcastCustomScript":{"post":{"summary":"Create podcast from custom script","description":"Create a podcast using a custom script","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["script","voice1","voice2"],"properties":{"script":{"type":"string","description":"Script with SPEAKER_00/SPEAKER_01 prefixes"},"voice1":{"type":"integer","description":"Numeric id of first voice from /content/GetVoices (SPEAKER_00)"},"voice2":{"type":"integer","description":"Numeric id of second voice from /content/GetVoices (SPEAKER_01)"},"callbackData":{"type":"string","description":"Optional data for webhook callbacks"}}}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"request_id":{"type":"string","description":"Unique ID for tracking the request"},"status":{"type":"integer","description":"Initial status code (0)"}}}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/CreatePodcastCustomVoices":{"post":{"summary":"Create podcast with custom voices","description":"Create a podcast with specified voices based on resources, topic, or feeds. Either 'resources', 'topic', or 'feeds' must be provided.","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["voice1","voice2"],"properties":{"resources":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["text","youtube","website","pdf","file"]},"content":{"type":"string","description":"For type \"file\", provide an https URL or a file id returned by POST /files. For other types, provide the text or URL expected by that type."}}},"description":"Resources for content generation (required if topic or feeds are not provided)"},"topic":{"type":"string","description":"Topic for content generation (alternative to resources or feeds)"},"feeds":{"type":"array","items":{"type":"integer"},"description":"Array of feed IDs for content generation (alternative to resources or topic, max 10)"},"projects":{"type":"array","items":{"type":"string"},"description":"Array of project IDs to use as context for generation (max 10)"},"text":{"type":"string","description":"Instructions or query for content generation"},"voice1":{"type":"integer","description":"Numeric id of first voice from /content/GetVoices"},"voice2":{"type":"integer","description":"Numeric id of second voice from /content/GetVoices"},"duration":{"type":"string","enum":["short","long","default"],"description":"Duration preference for content generation"},"style":{"type":"string","enum":["deep dive","brief","critique","debate"],"description":"Style of podcast content (defaults to deep dive)"},"language":{"type":"string","description":"Optional language for the generated podcast (leave empty to use the default)"},"notebookId":{"type":"string","description":"Notebook ID for enterprise clients"},"callbackData":{"type":"string","description":"Optional data for webhook callbacks"}}}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"request_id":{"type":"string","description":"Unique ID for tracking the request"},"status":{"type":"integer","description":"Initial status code (0)"}}}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/CreateGPT":{"post":{"summary":"Create content via GPT","description":"Special endpoint for GPT integration","x-internal":true,"tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","resources"],"properties":{"email":{"type":"string","format":"email","description":"User email for delivery"},"resources":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["text","youtube","website","pdf","file"]},"content":{"type":"string","description":"For type \"file\", provide an https URL or a file id returned by POST /files. For other types, provide the text or URL expected by that type."}}},"description":"Resources for content generation (max 3)"},"text":{"type":"string","description":"Instructions or query for content generation"}}}}}},"responses":{"200":{"description":"Request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was accepted"}}}}}},"400":{"description":"Invalid request"},"401":{"description":"Unauthorized"}}}},"/content/RemoveVoice":{"post":{"summary":"Remove cloned voice","description":"Remove a cloned voice owned by the current user","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"integer","description":"ID of the voice to remove"}}}}}},"responses":{"200":{"description":"Voice removed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful"},"message":{"type":"string","description":"Success message"}}}}}},"400":{"description":"Invalid request or missing voice ID"},"401":{"description":"Unauthorized"},"404":{"description":"Voice not found or cannot be deleted"}}}},"/content/DeleteRequest":{"post":{"summary":"Delete request","description":"Mark a content request as deleted","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"string","description":"ID of the request to delete"}}}}}},"responses":{"200":{"description":"Request deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful"},"message":{"type":"string","description":"Success message"}}}}}},"400":{"description":"Invalid request or missing request ID"},"401":{"description":"Unauthorized"},"404":{"description":"Request not found or not owned by user"},"500":{"description":"Failed to delete request"}}}},"/content/Schedule":{"post":{"summary":"Schedule multiple podcasts","description":"Create multiple podcasts at once, scheduled at intervals from a start time. Supports two modes - URLs mode (one podcast per episode, with each episode containing multiple URLs) or cached sources mode (feedSelections and/or youtubeChannels). Either 'urls' or (feedSelections/youtubeChannels + numberOfEpisodes) must be provided, but not both.","tags":["Content"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["frequency"],"oneOf":[{"required":["urls"]},{"required":["feedSelections","numberOfEpisodes"]},{"required":["youtubeChannels","numberOfEpisodes"]}],"properties":{"urls":{"type":"array","items":{"type":"array","items":{"type":"string","format":"uri"}},"description":"Array of episodes, where each episode is an array of URLs to create a podcast from (URLs mode - cannot be used with feedSelections or youtubeChannels)","example":[["https://example.com/article1","https://example.com/article2"],["https://example.com/article3"]]},"feedSelections":{"type":"array","description":"Cached feed items to include in scheduled episodes (cannot be used with urls)","items":{"$ref":"#/components/schemas/FeedSelection"},"example":[{"feedId":1,"feedItemIds":["post-123","post-456"]}]},"numberOfEpisodes":{"type":"integer","minimum":1,"maximum":100,"description":"Number of episodes to create (required when using feedSelections or youtubeChannels)","example":5},"youtubeChannels":{"type":"array","items":{"type":"string"},"description":"Array of connected YouTube channel IDs to pull recent videos from (cannot be used with urls)","example":["yt-channel-1","yt-channel-2"]},"frequency":{"type":"integer","minimum":1,"description":"Frequency in minutes between scheduled podcasts","example":60},"instructions":{"type":"string","maxLength":500,"description":"Optional instructions for podcast generation","example":"Create a conversational podcast discussing the main points"},"brandUrl":{"type":"string","format":"uri","description":"Optional brand/service URL to include in each podcast (URLs mode only)","example":"https://yourbrand.com"},"duration":{"type":"string","enum":["short","long","default"],"description":"Duration preference for podcasts","example":"default"},"style":{"type":"string","enum":["deep dive","brief","critique","debate"],"description":"Style of podcast content","example":"deep dive"},"language":{"type":"string","description":"Language for podcast generation","example":"English"},"podcastId":{"type":"string","description":"Podcast show ID to associate episodes with"},"episodeTitle":{"type":"string","description":"Optional episode title when associating to a podcast show"},"voice1":{"type":"integer","description":"Numeric id of first voice from /content/GetVoices (if provided, will use custom voices mode)"},"voice2":{"type":"integer","description":"Numeric id of second voice from /content/GetVoices (requires voice1)"},"startOn":{"type":"string","format":"date-time","description":"Start time for scheduling (defaults to current time, cannot be more than 24 hours in the past)","example":"2024-01-01T12:00:00Z"},"callbackData":{"type":"string","description":"Optional data for webhook callbacks"},"notebookId":{"type":"string","description":"Notebook ID for enterprise clients"}}}}}},"responses":{"200":{"description":"Podcasts scheduled successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the operation was successful"},"scheduled_requests":{"type":"array","items":{"oneOf":[{"type":"object","description":"Response for URLs mode","properties":{"request_id":{"type":"string","description":"ID of the scheduled request"},"urls":{"type":"array","items":{"type":"string"},"description":"Array of URLs this request was created from"},"scheduled_on":{"type":"string","format":"date-time","description":"When this request is scheduled to run"},"status":{"type":"integer","description":"Initial status (0)"}}},{"type":"object","description":"Response for feedSelections / YouTube mode","properties":{"request_id":{"type":"string","description":"ID of the scheduled request"},"feed_ids":{"type":"array","items":{"type":"integer"},"description":"Feed IDs used for this episode (if any)"},"feed_selections":{"type":"array","items":{"$ref":"#/components/schemas/FeedSelection"},"description":"Feed selections used for this episode"},"feed_items_per_episode":{"type":"integer","description":"Total cached items included across feeds for this episode"},"youtube_channel_ids":{"type":"array","items":{"type":"string"},"description":"YouTube channel IDs used for this episode"},"episode_number":{"type":"integer","description":"Episode number in the series"},"scheduled_on":{"type":"string","format":"date-time","description":"When this request is scheduled to run"},"status":{"type":"integer","description":"Initial status (0)"}}}]}},"total_created":{"type":"integer","description":"Total number of requests created"},"start_time":{"type":"string","format":"date-time","description":"Start time used for scheduling"},"frequency_minutes":{"type":"integer","description":"Frequency in minutes between requests"},"mode":{"type":"string","enum":["URLs","sources"],"description":"Mode used for scheduling"},"total_feeds_per_episode":{"type":"integer","description":"Number of feed groups per episode (sources mode only)"},"total_feed_items_per_episode":{"type":"integer","description":"Number of cached feed items per episode (sources mode only)"},"total_youtube_channels_per_episode":{"type":"integer","description":"Number of YouTube channels per episode (sources mode only)"},"total_urls":{"type":"integer","description":"Total number of URLs across all episodes (URLs mode only)"}}}}}},"400":{"description":"Invalid request parameters or insufficient credits"},"401":{"description":"Unauthorized"}}}},"/data-tables/get":{"get":{"summary":"Get data tables","description":"Returns paginated data tables created by the authenticated token, including in-progress requests (default 20 per page, max 100).","tags":["Data Tables"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1},"description":"Page number (default 1)"},{"in":"query","name":"pageSize","schema":{"type":"integer","minimum":1,"maximum":100},"description":"Items per page (default 20, max 100)"}],"responses":{"200":{"description":"Paginated list of data tables","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/DataTable"}},"totalCount":{"type":"integer"},"page":{"type":"integer"},"pageSize":{"type":"integer"},"totalPages":{"type":"integer"}}}}}},"401":{"description":"Unauthorized"}}}},"/data-tables/{dataTableId}/download":{"get":{"summary":"Download data table","description":"Streams the generated data table file for the authenticated token.","tags":["Data Tables"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"dataTableId","required":true,"schema":{"type":"string"},"description":"Data table request identifier"}],"responses":{"200":{"description":"Binary data table file stream","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Data table not found or not ready"},"502":{"description":"Upstream asset unavailable"}}}},"/deep-research/research":{"post":{"summary":"Perform deep research on a given query","description":"Conducts advanced research on the provided text query and returns results in the specified output format","tags":["Deep Research"],"operationId":"research","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["text","outputType"],"properties":{"text":{"type":"string","description":"The research query text","example":"What are the latest developments in artificial intelligence?"},"outputType":{"type":"string","enum":["text","json"],"description":"The format of the output result. When set to json, the response is serialized JSON.","example":"json"},"jsonFormat":{"type":"string","description":"Optional instructions or template describing the JSON structure to generate.","example":"{\n  \"summary\": \"\",\n  \"keyFindings\": [],\n  \"sources\": []\n}\n"},"provider":{"type":"string","enum":["gemini","openai"],"description":"The AI provider to use for research (defaults to gemini)","example":"gemini"},"projectIds":{"type":"array","items":{"type":"string"},"description":"Optional array of project IDs to add context from their descriptions","example":["proj-123","proj-456"]},"files":{"type":"array","description":"Optional array of file URLs or uploaded file IDs (from /files) to attach to the research request","items":{"type":"string"},"example":["https://example.com/reference.pdf","2c9fe88f-d3e2-41a8-9156-76c5e34dbfdd"]},"callbackData":{"type":"string","description":"Optional callback data to be returned with the response","example":"user-specific-data"},"isScheduled":{"type":"boolean","description":"If true, creates a recurring schedule instead of a one-time request","example":false},"dailyCount":{"type":"integer","minimum":1,"maximum":24,"description":"Number of times per day to execute the research (default 1, only used when isScheduled is true)","example":2},"scheduleEndDate":{"type":"string","format":"date-time","description":"Optional end date for the schedule (only used when isScheduled is true). If not provided, schedule runs indefinitely.","example":"2024-12-31T23:59:59Z"}}}}}},"responses":{"200":{"description":"Research request or schedule submitted successfully","content":{"application/json":{"schema":{"oneOf":[{"type":"object","description":"Response for a one-time research request","properties":{"request_id":{"type":"string","description":"The unique ID of the created research request","example":"550e8400-e29b-41d4-a716-446655440000"}}},{"type":"object","description":"Response for a scheduled research request","properties":{"schedule_id":{"type":"string","description":"The unique ID of the created schedule","example":"550e8400-e29b-41d4-a716-446655440000"},"message":{"type":"string","description":"Confirmation message for the schedule","example":"Deep research scheduled 2 time(s) per day until 2024-12-31T23:59:59.000Z"},"dailyCount":{"type":"integer","description":"Number of times per day the research will execute","example":2},"endDate":{"type":"string","format":"date-time","description":"End date for the schedule, or null if no end date","example":"2024-12-31T23:59:59Z"}}}]}}}},"400":{"description":"Bad request - validation error or unauthorized access","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string"}}}}}},"401":{"description":"Unauthorized - invalid or missing token","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Invalid token"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Internal server error"}}}}}}}},"get":{"summary":"Get all deep research requests","description":"Retrieves all deep research requests made by the authenticated user","tags":["Deep Research"],"operationId":"getResearches","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successfully retrieved deep research requests","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The request ID","example":"550e8400-e29b-41d4-a716-446655440000"},"requestedOn":{"type":"string","format":"date-time","description":"When the request was made","example":"2024-01-15T10:30:00Z"},"succeededOn":{"type":"string","format":"date-time","description":"When the request was completed","example":"2024-01-15T10:35:00Z"},"status":{"type":"integer","description":"Request status (0=pending, 5=processing, 100=completed)","example":100},"errorOn":{"type":"string","format":"date-time","description":"When the error occurred","example":null},"errorMessage":{"type":"string","description":"Error message if request failed","example":null},"errorCode":{"type":"integer","description":"Error code if request failed","example":0},"prompt":{"type":"string","description":"The research query text","example":"What are the latest developments in artificial intelligence?"},"outputType":{"type":"string","description":"Output format used for the response (text or json)","example":"json"},"jsonFormat":{"type":"string","description":"JSON formatting instructions applied when outputType is json","example":"{\"summary\":\"\",\"keyInsights\":[]}"},"isScheduleTemplate":{"type":"boolean","description":"True if this item is a schedule template rather than an executed request","example":true},"scheduleId":{"type":"string","description":"The ID of the schedule template","example":"550e8400-e29b-41d4-a716-446655440000"},"dailyCount":{"type":"integer","description":"Number of times per day this schedule will execute","example":2},"scheduleEndDate":{"type":"string","format":"date-time","description":"End date for the schedule, or null if it runs indefinitely","example":"2024-12-31T23:59:59Z"},"lastScheduleExecutionOn":{"type":"string","format":"date-time","description":"The most recent time this schedule executed","example":"2024-01-16T09:00:00Z"},"nextScheduleExecutionOn":{"type":"string","format":"date-time","description":"The next scheduled execution time","example":"2024-01-16T12:00:00Z"}}}}}}}}}},"/deep-research/research/{id}":{"get":{"summary":"Get a specific deep research request by ID","description":"Retrieves a single deep research request by its unique ID","tags":["Deep Research"],"operationId":"getResearchById","security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The ID of the deep research request to retrieve"}],"responses":{"200":{"description":"Successfully retrieved deep research request","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"The request ID","example":"550e8400-e29b-41d4-a716-446655440000"},"requestedOn":{"type":"string","format":"date-time","description":"When the request was made","example":"2024-01-15T10:30:00Z"},"succeededOn":{"type":"string","format":"date-time","description":"When the request was completed","example":"2024-01-15T10:35:00Z"},"status":{"type":"integer","description":"Request status (0=pending, 5=processing, 100=completed)","example":100},"errorOn":{"type":"string","format":"date-time","description":"When the error occurred","example":null},"errorMessage":{"type":"string","description":"Error message if request failed","example":null},"errorCode":{"type":"integer","description":"Error code if request failed","example":0},"prompt":{"type":"string","description":"The research query text","example":"What are the latest developments in artificial intelligence?"},"outputType":{"type":"string","description":"Output format used for the response (text or json)","example":"json"},"jsonFormat":{"type":"string","description":"JSON formatting instructions applied when outputType is json","example":"{\"summary\":\"\",\"keyInsights\":[]}"},"isScheduleTemplate":{"type":"boolean","description":"True if this item is a schedule template rather than an executed request","example":true},"scheduleId":{"type":"string","description":"The ID of the schedule template","example":"550e8400-e29b-41d4-a716-446655440000"},"dailyCount":{"type":"integer","description":"Number of times per day this schedule will execute","example":2},"scheduleEndDate":{"type":"string","format":"date-time","description":"End date for the schedule, or null if it runs indefinitely","example":"2024-12-31T23:59:59Z"},"lastScheduleExecutionOn":{"type":"string","format":"date-time","description":"The most recent time this schedule executed","example":"2024-01-16T09:00:00Z"},"nextScheduleExecutionOn":{"type":"string","format":"date-time","description":"The next scheduled execution time","example":"2024-01-16T12:00:00Z"},"responseText":{"type":"string","description":"The research result content. When outputType is json, this value is a serialized JSON string.","example":"{\"summary\":\"AI advancements\",\"keyInsights\":[\"...\"]}"}}}}}},"404":{"description":"Deep research request not found","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Deep research request not found"}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"error":{"type":"string","example":"Internal server error"}}}}}}}}},"/documents/get":{"get":{"summary":"Get documents","description":"Returns paginated briefing documents created by the authenticated token, including in-progress requests.","tags":["Documents"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1},"description":"Page number (default 1)"},{"in":"query","name":"pageSize","schema":{"type":"integer","minimum":1,"maximum":100},"description":"Items per page (default 20, max 100)"}],"responses":{"200":{"description":"Paginated list of documents","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"totalCount":{"type":"integer"},"page":{"type":"integer"},"pageSize":{"type":"integer"},"totalPages":{"type":"integer"}}}}}},"401":{"description":"Unauthorized"}}}},"/documents/{documentId}":{"get":{"summary":"Get document","description":"Returns the stored briefing document payload for the authenticated token.","tags":["Documents"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"documentId","required":true,"schema":{"type":"string"},"description":"Document request identifier"}],"responses":{"200":{"description":"Document payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Document"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Document not found"}}}},"/documents/{documentId}/download":{"get":{"summary":"Download document","description":"Downloads the stored briefing document as PDF, HTML, or text for the authenticated token.","tags":["Documents"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"documentId","required":true,"schema":{"type":"string"},"description":"Document request identifier"}],"responses":{"200":{"description":"Document download","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Document not found or not ready"},"502":{"description":"Upstream asset unavailable"}}}},"/documents/{documentId}/preview":{"get":{"summary":"Preview document","description":"Streams the stored briefing document inline using its native format. Supports PDF, HTML, and plain text documents for the authenticated token.","tags":["Documents"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"documentId","required":true,"schema":{"type":"string"},"description":"Document request identifier"}],"responses":{"200":{"description":"Document preview","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}},"text/html":{"schema":{"type":"string"}},"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Document not found or not ready"},"502":{"description":"Upstream asset unavailable"}}}},"/infographics/get":{"get":{"summary":"Get infographics","description":"Returns paginated infographics created by the authenticated token, including in-progress requests (default 20 per page, max 100).","tags":["Infographics"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1},"description":"Page number (default 1)"},{"in":"query","name":"pageSize","schema":{"type":"integer","minimum":1,"maximum":100},"description":"Items per page (default 20, max 100)"}],"responses":{"200":{"description":"Paginated list of infographics","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Infographic"}},"totalCount":{"type":"integer"},"page":{"type":"integer"},"pageSize":{"type":"integer"},"totalPages":{"type":"integer"}}}}}},"401":{"description":"Unauthorized"}}}},"/infographics/{infographicId}/download":{"get":{"summary":"Download infographic","description":"Streams the generated infographic image for the authenticated token.","tags":["Infographics"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"infographicId","required":true,"schema":{"type":"string"},"description":"Infographic request identifier"}],"responses":{"200":{"description":"Binary infographic image stream","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Infographic not found or not ready"},"502":{"description":"Upstream asset unavailable"}}}},"/quizzes/get":{"get":{"summary":"Get quizzes","description":"Returns paginated quizzes created by the authenticated token, including in-progress requests (default 20 per page, max 100).","tags":["Quizzes"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1},"description":"Page number (default 1)"},{"in":"query","name":"pageSize","schema":{"type":"integer","minimum":1,"maximum":100},"description":"Items per page (default 20, max 100)"}],"responses":{"200":{"description":"Paginated list of quizzes","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Quiz"}},"totalCount":{"type":"integer"},"page":{"type":"integer"},"pageSize":{"type":"integer"},"totalPages":{"type":"integer"}}}}}},"401":{"description":"Unauthorized"}}}},"/quizzes/{quizId}/download":{"get":{"summary":"Download quiz","description":"Downloads the generated quiz JSON for the authenticated token.","tags":["Quizzes"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"quizId","required":true,"schema":{"type":"string"},"description":"Quiz request identifier"}],"responses":{"200":{"description":"Quiz JSON download","content":{"application/json":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Quiz not found or not ready"}}}},"/share/podcast/{requestId}/{t}":{"get":{"summary":"Get a shared podcast","description":"Publicly retrieve a podcast by requestId and date string without requiring authentication","tags":["Share"],"parameters":[{"in":"path","name":"requestId","required":true,"schema":{"type":"string"},"description":"The ID of the podcast to retrieve"},{"in":"path","name":"t","required":true,"schema":{"type":"string"},"description":"Date in YYYYMMDD format to validate the request"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"integer"},"requestedOn":{"type":"string","format":"date-time"},"succeededOn":{"type":"string","format":"date-time"},"requestTypeId":{"type":"integer"},"audioTitle":{"type":"string"},"audioUrl":{"type":"string"},"responseText":{"type":"string"},"script":{"type":"string"},"voice1":{"type":"integer"},"voice2":{"type":"integer"},"language":{"type":"string"}}}}}},"400":{"description":"Bad Request - Invalid parameters"},"404":{"description":"Podcast not found"}}}},"/share/video/{requestId}/{t}":{"get":{"summary":"Get a shared video","description":"Publicly retrieve a generated video by requestId and date string without requiring authentication","tags":["Share"],"parameters":[{"in":"path","name":"requestId","required":true,"schema":{"type":"string"},"description":"The ID of the video to retrieve"},{"in":"path","name":"t","required":true,"schema":{"type":"string"},"description":"Date in YYYYMMDD format to validate the request"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"integer"},"requestedOn":{"type":"string","format":"date-time"},"succeededOn":{"type":"string","format":"date-time"},"videoTitle":{"type":"string"},"videoUrl":{"type":"string"},"imageUrl":{"type":"string"},"responseText":{"type":"string"},"language":{"type":"string"}}}}}},"400":{"description":"Bad Request - Invalid parameters"},"404":{"description":"Video not found"}}}},"/share/infographic/{requestId}/{t}":{"get":{"summary":"Get a shared infographic","description":"Publicly retrieve an infographic by requestId and date string without requiring authentication","tags":["Share"],"parameters":[{"in":"path","name":"requestId","required":true,"schema":{"type":"string"},"description":"The ID of the infographic to retrieve"},{"in":"path","name":"t","required":true,"schema":{"type":"string"},"description":"Date in YYYYMMDD format to validate the request"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"requestedOn":{"type":"string","format":"date-time"},"title":{"type":"string"},"imageUrl":{"type":"string"}}}}}},"400":{"description":"Bad Request - Invalid parameters"},"404":{"description":"Infographic not found"}}}},"/share/slide-deck/{requestId}/{t}":{"get":{"summary":"Get a shared slide deck","description":"Publicly retrieve a slide deck by requestId and date string without requiring authentication","tags":["Share"],"parameters":[{"in":"path","name":"requestId","required":true,"schema":{"type":"string"},"description":"The ID of the slide deck to retrieve"},{"in":"path","name":"t","required":true,"schema":{"type":"string"},"description":"Date in YYYYMMDD format to validate the request"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"requestedOn":{"type":"string","format":"date-time"},"title":{"type":"string"},"deckUrl":{"type":"string"}}}}}},"400":{"description":"Bad Request - Invalid parameters"},"404":{"description":"Slide deck not found"}}}},"/share/quiz/{requestId}/{t}":{"get":{"summary":"Get a shared quiz","description":"Publicly retrieve a quiz by requestId and date string without requiring authentication","tags":["Share"],"parameters":[{"in":"path","name":"requestId","required":true,"schema":{"type":"string"},"description":"The ID of the quiz to retrieve"},{"in":"path","name":"t","required":true,"schema":{"type":"string"},"description":"Date in YYYYMMDD format to validate the request"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"requestedOn":{"type":"string","format":"date-time"},"quizJson":{"type":"string"}}}}}},"400":{"description":"Bad Request - Invalid parameters"},"404":{"description":"Quiz not found"}}}},"/slide-decks/get":{"get":{"summary":"Get slide decks","description":"Returns paginated slide decks created by the authenticated token, including in-progress requests (default 20 per page, max 100).","tags":["Slide Decks"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"page","schema":{"type":"integer","minimum":1},"description":"Page number (default 1)"},{"in":"query","name":"pageSize","schema":{"type":"integer","minimum":1,"maximum":100},"description":"Items per page (default 20, max 100)"}],"responses":{"200":{"description":"Paginated list of slide decks","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/SlideDeck"}},"totalCount":{"type":"integer"},"page":{"type":"integer"},"pageSize":{"type":"integer"},"totalPages":{"type":"integer"}}}}}},"401":{"description":"Unauthorized"}}}},"/slide-decks/{slideDeckId}/download":{"get":{"summary":"Download slide deck","description":"Streams the generated slide deck file (PDF or PPT) for the authenticated token.","tags":["Slide Decks"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"slideDeckId","required":true,"schema":{"type":"string"},"description":"Slide deck request identifier"}],"responses":{"200":{"description":"Binary slide deck stream","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Slide deck not found or not ready"},"502":{"description":"Upstream asset unavailable"}}}},"/slide-decks/{slideDeckId}/preview":{"get":{"summary":"Preview slide deck","description":"Streams the generated slide deck file inline for browser previews.","tags":["Slide Decks"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"slideDeckId","required":true,"schema":{"type":"string"},"description":"Slide deck request identifier"}],"responses":{"200":{"description":"Inline slide deck stream","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}},"application/vnd.ms-powerpoint":{"schema":{"type":"string","format":"binary"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Slide deck not found or not ready"},"502":{"description":"Upstream asset unavailable"}}}},"/slide-decks/public/{slideDeckId}/preview":{"get":{"summary":"Public preview slide deck","description":"Streams the slide deck inline without authentication for marketing/demo pages.","tags":["Slide Decks"],"parameters":[{"in":"path","name":"slideDeckId","required":true,"schema":{"type":"string"},"description":"Slide deck request identifier"}],"responses":{"200":{"description":"Inline slide deck stream","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Slide deck not found or not ready"},"502":{"description":"Upstream asset unavailable"}}}},"/slide-decks/public-preview":{"get":{"summary":"Public preview slide deck by URL","description":"Streams a whitelisted slide deck URL inline (PDF) without authentication.","tags":["Slide Decks"],"parameters":[{"in":"query","name":"url","required":true,"schema":{"type":"string","format":"uri"},"description":"Direct URL to the slide deck asset (limited to autocontentapi.blob.core.windows.net)"}],"responses":{"200":{"description":"Inline slide deck stream","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Missing or invalid URL"},"502":{"description":"Upstream asset unavailable"}}}},"/video/GetAvatars":{"get":{"summary":"Get available avatars","description":"List all available avatars for video generation","tags":["Video"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Avatar"}}}}},"401":{"description":"Unauthorized"}}}},"/video/GetShorts":{"get":{"summary":"Get shorts videos","description":"List all shorts videos for the authenticated user (includes pending, processing, completed, and failed)","tags":["Video"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Short"}}}}},"401":{"description":"Unauthorized"}}}},"/video/CreateShorts":{"post":{"summary":"Create shorts","description":"Create short videos from audio content or feeds","tags":["Video"],"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["avatar1"],"properties":{"audioUrl":{"type":"string","description":"URL to the audio file to create shorts from (optional if feedIds provided)"},"feedIds":{"type":"array","items":{"type":"string"},"description":"Array of feed IDs to generate content from (optional if audioUrl provided)"},"prompt":{"type":"string","description":"Optional instructions for short creation"},"avatar1":{"type":"string","description":"ID of the first avatar to use"},"avatar2":{"type":"string","description":"Optional ID of the second avatar to use"},"subtitles":{"type":"boolean","description":"Optional boolean to include subtitles (default: true)"},"callbackData":{"type":"string","description":"Optional data to include in webhooks"},"scheduledOn":{"type":"string","
[...]
