openapi: 3.2.0
info:
  title: AutoContent Platform Sources API
  version: 1.0.0
  description: First-class content Assets with prepaid USD billing. Generic document and video routes do not exist.
servers:
- url: https://api.autocontentapi.com/v1
tags:
- name: Sources
paths:
  /sources/{id}:
    get:
      operationId: getSource
      summary: Get Source ingestion status and revision
      tags:
      - Sources
      security:
      - platformOAuth: []
      - platformApiKey: []
      x-required-scopes:
      - platform.read
      x-principal: oauth_or_api_key
      x-idempotency-required: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^src_[A-Za-z0-9_-]+$
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        default:
          $ref: '#/components/responses/AutoContentError'
    delete:
      operationId: removeSource
      summary: Remove a Source from future Generations
      tags:
      - Sources
      security:
      - platformOAuth: []
      - platformApiKey: []
      x-required-scopes:
      - platform.write
      x-principal: oauth_or_api_key
      x-idempotency-required: false
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^src_[A-Za-z0-9_-]+$
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        default:
          $ref: '#/components/responses/AutoContentError'
  /sources/{id}/refresh:
    post:
      operationId: refreshSource
      summary: Refresh a remote Source
      tags:
      - Sources
      security:
      - platformOAuth: []
      - platformApiKey: []
      x-required-scopes:
      - platform.write
      x-principal: oauth_or_api_key
      x-idempotency-required: true
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^src_[A-Za-z0-9_-]+$
      - name: Idempotency-Key
        in: header
        required: true
        description: 1–255 visible ASCII bytes; UUID recommended.
        schema:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[!-~]+$
      responses:
        '202':
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Source'
        default:
          $ref: '#/components/responses/AutoContentError'
components:
  schemas:
    Source:
      type: object
      additionalProperties: false
      required:
      - id
      - project_id
      - collection_id
      - kind
      - title
      - external_url
      - status
      - refreshing
      - refresh_operation_id
      - refresh_error
      - error
      - visual_count
      - current_revision
      - retention_scope
      - expires_at
      - claimed_generation_id
      - removed_at
      - created_at
      - updated_at
      properties:
        id:
          type: string
          pattern: ^src_[A-Za-z0-9_-]+$
        project_id:
          type: string
          pattern: ^prj_[A-Za-z0-9_-]+$
        collection_id:
          oneOf:
          - type: string
            pattern: ^col_[A-Za-z0-9_-]+$
          - type: 'null'
        kind:
          type: string
          enum:
          - website_page
          - url
          - youtube
          - pdf
          - document
          - text
          - product_visual
        title:
          type: string
          minLength: 1
          maxLength: 500
        external_url:
          oneOf:
          - type: string
            format: uri
          - type: 'null'
        status:
          type: string
          enum:
          - processing
          - ready
          - failed
          - removed
        refreshing:
          type: boolean
        refresh_operation_id:
          oneOf:
          - type: string
            minLength: 1
          - type: 'null'
        refresh_error:
          oneOf:
          - type: object
            additionalProperties: true
          - type: 'null'
        error:
          oneOf:
          - type: object
            additionalProperties: true
          - type: 'null'
        visual_count:
          type: integer
          minimum: 0
          maximum: 16
        current_revision:
          oneOf:
          - type: object
            additionalProperties: false
            required:
            - id
            - revision
            - mime_type
            - byte_size
            - normalized_text_bytes
            - width
            - height
            - created_at
            properties:
              id:
                type: string
                minLength: 1
              revision:
                type: integer
                minimum: 1
              mime_type:
                type: string
                minLength: 1
              byte_size:
                oneOf:
                - type: integer
                  minimum: 0
                - type: 'null'
              normalized_text_bytes:
                oneOf:
                - type: integer
                  minimum: 0
                - type: 'null'
              width:
                oneOf:
                - type: integer
                  minimum: 1
                - type: 'null'
              height:
                oneOf:
                - type: integer
                  minimum: 1
                - type: 'null'
              created_at:
                oneOf:
                - type: string
                  format: date-time
                - type: 'null'
          - type: 'null'
        retention_scope:
          type: string
          enum:
          - project
          - request
        expires_at:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
        claimed_generation_id:
          oneOf:
          - type: string
            pattern: ^gen_[A-Za-z0-9_-]+$
          - type: 'null'
        removed_at:
          oneOf:
          - type: string
            format: date-time
          - type: 'null'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ErrorEnvelope:
      type: object
      additionalProperties: false
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
    ErrorBody:
      type: object
      additionalProperties: false
      required:
      - code
      - message
      - correlation_id
      - doc_url
      properties:
        code:
          type: string
          enum:
          - invalid_request
          - unknown_asset_type
          - invalid_asset_options
          - invalid_model_options
          - model_not_supported
          - model_retired
          - project_not_ready
          - project_limit_exceeded
          - provider_operation_limit_exceeded
          - source_not_ready
          - source_unreachable
          - source_paywalled
          - product_visual_required
          - no_qualified_trend
          - no_qualified_knowledge
          - input_resolution_failed
          - max_cost_exceeded
          - payment_required
          - content_loop_budget_exceeded
          - content_loop_limit_exceeded
          - idempotency_conflict
          - idempotency_in_progress
          - consent_required
          - voice_not_found
          - voice_not_ready
          - voice_not_supported
          - avatar_not_found
          - avatar_not_ready
          - avatar_not_supported
          - artifact_verification_failed
          - rate_limited
          - webhook_limit_exceeded
          - not_found
          - unauthorized
          - forbidden
          - internal_error
        message:
          type: string
        details:
          oneOf:
          - type: array
            items:
              $ref: '#/components/schemas/ErrorDetail'
          - type: object
        correlation_id:
          type: string
          pattern: ^corr_[A-Za-z0-9_-]+$
        doc_url:
          type: string
          format: uri
    ErrorDetail:
      type: object
      additionalProperties: false
      required:
      - reason
      properties:
        field:
          type: string
        reason:
          type: string
  responses:
    AutoContentError:
      description: Normalized AutoContent error; provider payloads are never returned.
      headers:
        Retry-After:
          description: Whole seconds before retry when the error supplies a bounded retry time.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
          example:
            error:
              code: max_cost_exceeded
              message: Current price exceeds max_cost_usd.
              correlation_id: corr_42
              doc_url: https://docs.autocontentapi.com/errors/max-cost-exceeded
  securitySchemes:
    platformOAuth:
      type: http
      scheme: bearer
      bearerFormat: Platform OAuth JWT
    platformApiKey:
      type: http
      scheme: bearer
      bearerFormat: acp_ Platform API key
